/* =========================================
   TOP RIGHT NAVIGATION BUTTONS
   ========================================= */
#fullscreen-btn, #base-btn, #reset-view-btn, #set-origin-btn {
  position: absolute;
  top: 10px;
  z-index: 1000;
  background: var(--black); 
  border: 1px solid var(--strokeorborder);
  color: #ffffff;
  padding: 6px 6px;
  font-family: 'Segoe UI', monospace;
  border-radius: 4px;
  cursor: pointer;
  backdrop-filter: blur(4px); 
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

/* Menambahkan #set-origin-btn:hover ke dalam grup ini */
#fullscreen-btn:hover, #base-btn:hover, #reset-view-btn:hover, #set-origin-btn:hover {
  background: var(--hover);
  box-shadow: 0 0 10px var(--glow);
}

/* Menambahkan #set-origin-btn svg ke dalam grup ini agar ikonnya hijau */
#fullscreen-btn svg, #base-btn svg, #reset-view-btn svg, #set-origin-btn svg {
  stroke: var(--strokeorborder);
}

/* Mengatur posisi jarak masing-masing tombol dari kanan */
#fullscreen-btn { right: 10px; }
#base-btn       { right: 60px; }
#reset-view-btn { right: 110px; }
#set-origin-btn { right: 160px; }