*.key
*.crt
.Xauthority
.bash_history-01391.tmp
.bash_history
.bash_logout
.bashrc
.cache/
.claude.json
.claude/
.config/
.copilot/
.dotnet/
.lesshst
.local/
.npm/
.ssh/
.nv/
.profile
.sudo_as_admin_successful
.vscode-server/
.vscode/
.wget-hsts
.xinitrc
C2/Server/Tracker/uWebSockets/
C2/Server/Tracker/TrackerNode
C2/Server/Optronic/mediamtx
C2/Server/Optronic/mediamtx.yml
C2/Server/Optronic/auto.crt
C2/Server/Optronic/auto.key
C2/Server/Optronic/LICENSE
Trash/
Backup/
